body {
  width: 200px;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: 0;
  color: white;
  font-size: 20px;
  height: 50px;
  margin: 5px;
  width: 95%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Immersion {
  margin: 7.5px;
  width: 80vw;
}

/*----------------------------------------------------------------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17.5px;
  width: 17.5px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before { /* this will be in JAVASCRIPT */
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*----------------------------------------------------------------------------*/

.language {
  background: transparent;
  padding: 0px;
  border: 0px;
  border-bottom: 1px solid black;
  width: 80vw;
  text-align: center;
  font-size: 7.5vw;
  margin: 7.5px;
}

.language:focus {
  outline: 0 !important;
}

.inactive {
  display: none !important;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 22px;
  margin: 10px;
}

.instr {
  font-family: 'Palanquin', sans-serif;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: left;
  font-size: 12px;
}

.bar {
  margin: 2.5px;
  height: 1px;
  width: 80%;
  background-color: #212121;
}

.bordered {
  border: 5px solid red;
}

.start {
   background-color: #4caf50;
}

.end {
  background-color: red;
}

.stop {
  height: 0px;
  width: 0px;
}

.favicon {
  /*background-image: url('./faviconSentinel.png');*/
  background-size: cover;
  height: 100px;
  width: 100px;
  margin: 20px;
}

#alignText {
  text-align: center;
}
